@import '@alicorpdigital/dali-css-library/build/css/themes/theme-alicorp/style.min.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  background-color: #FCFCFC;
  padding: 0 32px 40px 32px;

}

.rounded {
  border-radius: 8px !important;
}
.text-decoration-underline {
  text-decoration: underline;
}

.dl-title-sm,
.dl-title-xs,
.dl-body-nano-bold,
.dl-body-nano {
  color: #202020;
}

.dl-body-xxs,
.dl-subtitle-xs,
.dl-subtitle-nano{
  color: #6C6C6C;
}


@media screen and (max-width: 480px) { 
  .wrapper {
    padding: 32px 16px;
  }
}